.partners {
   display: grid;
   grid-template-columns: 1.4fr 1fr 1fr;
   gap: 28px;
}

.partners__partner {
   position: relative;
   transition: all 0.2s ease-in;
}
.partners__partner:hover {
   transform: scale(1.02);
}
.partners__partner img:first-child {
   width: 100%;
}

.partners__partner:nth-child(1) {
   grid-row: 2 span;
   padding: 44px;
   background-color: #edcffc;
}

.partners__partner:nth-child(2) {
   padding: 27px 34px;
   background-color: #ffe3c7;
}
.partners__partner:nth-child(3) {
   padding: 25px 34px;
   background-color: #c3f598;
   grid-row: 5 / 6;
   grid-column: 3/ 4;
}
.partners__partner:nth-child(4) {
   padding: 15px 70px;
   background-color: #131313;
   grid-column: 3 / 4;
}
.partners__partner:nth-child(5) {
   padding: 15px 30px;
   background-color: #262626;
   grid-column: 3 / 4;
   grid-row: 4 / 5;
}
.partners__partner:nth-child(6) {
   padding: 27px 31px;
   background-color: #c3f598;
   grid-column: 2 / 3;
   grid-row: 3 / 4;
}
.partners__partner:nth-child(7) {
   padding: 41px 50px 10px 50px;
   background-color: #262626;
}
.partners__partner:nth-child(8) {
   padding: 32px 42px;
   background-color: #edcffc;
   grid-column: 3 / 4;
}
.partners__partner:nth-child(9) {
   padding: 30px 12px;
   background-color: #ffe3c7;
   grid-column: 2 / 3;
   grid-row: 4 / 5;
}
.partners__partner:nth-child(10) {
   padding: 0 40px;
   background-color: #262626;
   grid-column: 3 / 4;
   grid-row: 1 / 2;
}
.partners__partner:nth-child(11) {
   grid-row: 5 / 6;
   grid-column: 1 / 2;
}
.partners__partner:nth-child(12) {
   background-color: #edcffc;
   grid-row: 6 / 7;
   grid-column: 2 / 3;
   padding: 10px;
}
.partners__partner:nth-child(13) {
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #262626;
   grid-row: 6 / 7;
   grid-column: 3 / 4;
   padding: 20px;
}
.partners__partner:nth-child(13) img {
   width: 80%;
}
.partners__partner img {
   height: 100%;
}

.partners__partner:nth-child(4) img:first-child {
   position: relative;
   z-index: 10;
}

.partners__partner:nth-child(4) img:last-child {
   position: absolute;
   opacity: 0.2;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

@media screen and (max-width: 991px) {
   .partners {
      gap: 10px;
   }

   .partners__partner:nth-child(1) {
      padding: 20px;
   }
   .partners__partner:nth-child(2) {
      padding: 15px 25px;
   }
   .partners__partner:nth-child(3) {
      padding: 20px 20px;
   }
   .partners__partner:nth-child(4) {
      padding: 20px 40px;
   }
   .partners__partner:nth-child(5) {
      padding: 20px 40px;
   }
   .partners__partner:nth-child(6) {
      padding: 20px 20px;
   }
   .partners__partner:nth-child(7) {
      padding: 30px 30px 10px 30px;
   }
   .partners__partner:nth-child(8) {
      padding: 16px 21px;
      background-color: #edcffc;
   }
   .partners__partner:nth-child(9) {
      padding: 20px;
   }
   .partners__partner:nth-child(10) {
      padding: 0 20px;
   }
   .partners__partner:nth-child(12) {
      background-color: #edcffc;
      grid-row: 6 / 7;
      grid-column: 2 / 3;
      padding: 5;
   }
   .partners__partner:nth-child(13) {
      padding: 15px;
   }
}

@media screen and (max-width: 600px) {
   .partners {
      grid-template-columns: repeat(2, 1fr);
   }

   .partners__partner:nth-child(3) {
      padding: 30px 20px;
      grid-row: unset;
      grid-column: unset;
   }

   .partners__partner:nth-child(4) {
      grid-column: unset;
   }

   .partners__partner:nth-child(5) {
      padding: 15px 30px;
      grid-column: unset;
      grid-row: unset;
   }

   .partners__partner:nth-child(7) {
      padding: 25px 15px 0px 15px;
   }

   .partners__partner:nth-child(8) {
      grid-column: unset;
      padding: 15px;
   }
   .partners__partner:nth-child(9) {
      grid-column: unset;
      padding: 15px;
   }
   .partners__partner:nth-child(10) {
      grid-row: unset;
      grid-column: unset;
   }
   .partners__partner:nth-child(11) {
      grid-row: unset;
      grid-column: unset;
   }
   .partners__partner:nth-child(13) {
      grid-row: unset;
      grid-column: unset;
   }
}
